.ProductControl {
  list-style: none;
  margin-right: 50px;
}

.ProductControl .ProductFooter {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding-right: 20px;
  align-items: baseline;
  margin-top: -10px;
}

.ProductControl ProductFooter svg {
  cursor: pointer;
}

.ProductControl .ProductFooter .ShippingInfo {
  color: #aaa;
  font-size: 14px;
}

