.CheckoutSummary {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding:10px 20px;
  margin: 10px auto;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  box-sizing: border-box;
}

.CheckoutSummary svg {
  cursor: pointer;
}

.CheckoutSummary .Col1 .ShippingInfo {
  color: #aaa;
  font-size: 14px;
}

.CheckoutSummary .Col2 {
  display: flex;
  align-items: center;
}

.CheckoutSummary .Col2 .Subtitle {
  margin-right: 5px;
}

.CheckoutSummary .Col2 .AmountInput {
  padding: 5px;
  font-weight: bold;
  outline: none;
  font-size: 13px;
}

@media (min-width: 600px) {
  .CheckoutSummary {
    width: 500px;
  }
}